.page{
  position: absolute;
  width: 90%;
  height: 85%;
  animation: slide 0.5s forwards;
  background-color: midnightblue;
  padding: 10% 5%;
}
@keyframes slide {
  from{
    left: -100%;
  }
  to{
    left: 0%;
  }
}
.name{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.list{
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  filter: invert(90%);
}