.page{
  position: fixed;
  height: 95%;
  width: 100%;
  top: 59px;
  background-color: midnightblue;
  color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-right: 1px solid black;
  cursor: pointer;
}
.icon{
  filter: invert(100%);
}