.page{
  position: fixed;
  height: 95%;
  width: 80px;
  left: -100px;
  top: 60px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* box-shadow:1px 0.5px 3px 0.5px black; */
  color: white;
  animation: slideIn 0.5s forwards;
  cursor: pointer;
}
@keyframes slideIn{
  from{
    left: -100px
  }
  to{
    left: 0%
  }
}
