.page{
  position: fixed;
  top: 0%;
  width: 70%;
  height: 7%;
  margin-left: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 0% 5px;
  width: 90%;
  height: 30px;
  border-radius: 10px;
  border: 0;
}
.input:focus{
  border: 0;
}